@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  scroll-behavior: smooth;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  
}

.projects-heading {
  text-align: center;
  font-size: 3.5rem;
  margin: 2rem 0;
  font-weight: bold;
}

.project-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 527px;
}

.project-carousel {
  display: flex;
  gap: 32px;
  will-change: transform;
  height: 100%;
  overflow: visible;
}

.project-card {
  flex: 0 0 1106px;
  height: 527px;
  display: flex;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
}

.project-image {
  flex: 3;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.project-info {
  flex: 1;
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info h3 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
   color: black;
}

.project-info p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
   color: black;
}

.view-project-btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, #330000 0%, #b22222 40%, #ff416c 100%);
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  
}

.view-project-btn:hover {
  background: #b22222;
  box-shadow: 0 0 10px #ff416c;
}
